{:title "Items Example List"
 :h1 "Dynamic Items Example List"
 :items
    [{:name "Example Item 1" :image "holder.js/140x100/text:Placeholder Image"}
     {:name "Example Item 2" :image "holder.js/140x100/text:Placeholder Image"}
     {:name "Example Item 3" :image "holder.js/140x100/text:Placeholder Image"}]}
