@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

/* *** For local usage of the handwritten font face ***
@font-face {
  font-family: 'Patrick Hand SC'; font-style: normal; font-weight: 400;
  src: local('Patrick Hand SC'), url(fonts/patrick-hand-sc-regular.woff) format('woff'); } */


body {
  color: #333;
  font-family: 'Patrick Hand SC'; font-size:16px; }

.navbar {
  border-width: 0px; border-bottom: dashed 2px #ccc;
  font-size: 18px; }

.block {
    border: dashed 2px #ccc;
    padding: 10px; margin: 10px; }

.block h3 {
    margin-top: 0px; }

.clear {
    clear:both; }



/* file upload buttons */
.btn-file {
    position: relative; overflow: hidden; }

.btn-file input[type=file] {
    position: absolute;
    top: 0; right: 0;
    display: block; min-width: 100%; min-height: 100%;
    font-size: 999px; text-align: right;
    filter: alpha(opacity=0); opacity: 0;
    background: red;
    cursor: inherit; }

input[readonly] {
    background-color: white !important;
    cursor: text !important; }


/* Email Template */
span.glyphicon-envelope { font-size: 4em; float:right;}


/* CSV Lists */
.comma-list { display: inline; list-style: none; padding-left:0px;}
.comma-list li { display: inline; }
.comma-list li:after { content: ", "; }
.comma-list li:last-child:after { content: "" }



/* General Items */
.email {margin-top:40px;font-size:20px;}

.notes, .footnotes { background-color: yellow; border:dotted 1px #ccc;
  padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px; }

.footnotes {margin-top:40px;}

.actions {
    text-align:center;margin:40px;}


/* Role Based Sections */
.role-section {border:dashed 2px #ccc;margin:10px;padding-top:0px;}
.role-section-header {border-bottom:dashed 2px #ccc; font-size:0.9em;margin-bottom:10px;}





/* custom css below */

.myrole1 {border-color:orange;}
.myrole2 {border-color:aqua;}
